body {
    background-color: rgb(222, 237, 240);    
}

.head, .welcome, .px-4 {
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

#about-container {
    max-width: 1200px;
    margin: 10px auto;
    border: 1px solid;
    box-shadow: 5px 10px rgb(178, 184, 163);
}

.about, main {
    padding: 0 30px;
}

main {
    margin: 30px auto;
}

.about aside {
    width: 70%;
}

.about aside p {
    text-align: justify;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
}

.email {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.email:hover {
    color: black;
    text-decoration: underline;
}

.jobs, .projects {
    font-family: 'Barlow', sans-serif;
}

.jobs, .aws, .ccpd, .maxwell, .projects, .awssde, .maxsde, .police {
    font-weight: bold;
}
